*{
  margin:0;
  padding:0;
  color:white;
}
.nav-bar{
  height:50px;
  background-color: black;
}
.amazonlink{
  color:#f29b05;
  margin-right: 200px;
}

.margin.cart{
  margin:200px;
}

.inputtype{
  background-color:white;
  border:2px;
  border-color: #1f1d1b;
  color:black;
  height:20px;
  width:100pz;
}
button{
  background-color:#f29b05;
}

.header.div{
  margin:200px;
}