*{
    background-color: #403f3e;
    margin:2px;
    position: fixed;
    display: flex;
}
.a{
    height: 700px;
    width:500;
    background-color:#0d0b0a;
    margin: 5px 5px 5px 5px;
}

#b{
    height:300px;
    width: 300;
    border:4px solid black;
    border-radius: 50%;
    background-color: Red;
    color: black;
    margin:20px 20px 20px 20px;
    padding:20px 20px 20px 20px;
}

#c{
    height:300px;
    width: 300;
    border:4px solid black;
    border-radius: 50%; 
    background-color:#f5f231;
    color: black;
    margin:20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

#c{
    height:300px;
    width: 300;
    border:4px solid black;
    border-radius: 50%;
    background-color:#0acf11;
    color: black;
    margin:20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}