*{
    background-color: #403f3e;
    margin:2px;
    position: fixed;
    display: flex;
}
.a{
height: 700px;
  width: 200px; 
  background-color: #0d0b0a;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  border-radius: 20px;
}
#b, #c, #d {
  height: 150px;
  width: 150px;
  border: 4px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.A{
    height: 37px;
    width: 786px;
    background-color:#0d0d0d;
    display: flex;
}

a{
    font-size:20px;
    font-family:'Times New Roman', Times, serif;  
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:10px;
    margin-right: 20px;
}
#C{
    
    font-size:20px;
    font-family:'Times New Roman', Times, serif;  
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:21px;
    margin-right: 20px;
}

#D{
    
    font-size:20px;
    font-family:'Times New Roman', Times, serif;  
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:1px;
    margin-right: 20px;
}
#E{
    
    font-size:20px;
    font-family:'Times New Roman', Times, serif;  
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:1px;
    margin-right: 20px;
}

search{

    font-size:20px;
    font-family:'Times New Roman', Times, serif;  
    height: 10px;
    width: 20px;
    border:2px solid orange;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:1px;
    margin-right: 1px;
    background-color:white;
    color:#0d0b0a;
}

button{
    font-size:20px;
    font-family:'Times New Roman', Times, serif;  
      height: 10px;
    width: 08px;
    border:2px solid orange;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:1px;
    margin-right: 1px;
    background-color:orange;
    color:white;
}
