*{
    margin:0;
    padding: 0;
}

.conatiner{
    height:50px;
    width:auto;
    display:flex;
    flex-direction:rpw;
    justify-content: space-evenly;
        background-color: maroon;
}

li{
    background-color: aqua;
    display:inline;
}

a{
    text-decoration:none;
    color :black;
}

.flexboxing{
    height:600px;
    width:600px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: blue;
    border:2px solid black;
}

.flexingitem{
    height:100px;
    width:100px;
background-color:chocolate;
}