*{
    background-color:#94f241;
    color:#6df7e7;
    margin:0;
}
.q{
    text-align:center;
    text-decoration:underline;
    color:#ff0faf;
    display:flex;
    margin:5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:500;
    font-optical-sizing:auto;
    text-transform:capitalize;

}

#a{
    text-align:left;
    text-decoration:underline;
    color:#f5e6f0;
    display:flex;
    margin:5px;
    font-family: 'Times New Roman', Times, serif;
    font: weight 200px;;
    font-optical-sizing:auto;
}

#b{
color:#1b07f5;
text-decoration:underline;
font-family:'Times New Roman', Times, serif;
font: weight 200px;
display:flex;
font-optical-sizing: auto;
margin:5px;
}

.r{
    height: 700px;
    width: 700px;
    border-collapse:collapse;
    border:1px solid #fcf151;
    border-radius: 50%;
    border-style: dotted;
    text-transform:capitalize;
    font-family: 'Times New Roman', Times, serif;
    font-weight:500;
    color:#e30f00;
    background-color: silver;
}
#c{
    color:#ff0faf;
    text-align: center;
    text-decoration:underline;
    text-transform:none;
    font-family: 'Times New Roman', Times, serif;

}