*{
    margin:0;
    padding: 0;
}

body{
    text-align: center;
    align-items: center;
}

div{
    height: 100px;
    width:100px;
}
#container{
    height: 500px;
    width: 200px;
    border: 2px;
}